<ion-view title="<img class='title-image' src='img/logo.png' />">
	<ion-nav-buttons side="left">
		<button class="button button-positive button-clear no-animation" ng-click="toSettings()">
    		<i class="icon ion-gear-b placeholder-icon"></i>
  		</button>
	</ion-nav-buttons>

	<ion-slide-box on-slide-changed="slideChanged(index)" >
  		<ion-slide class="content-slide">
    		<button class="button button-positive button-block button-scanner" ng-click="scanBarcode()">
    			<i class="ion-qr-scanner icon icon-grande"></i>
    			Scan A Barcode
    		</button>
    		<button class="button button-positive button-block">Finish a Transaction</button>
  		</ion-slide>
  		<ion-slide class="content-slide">
    		<h3>Confirm Tip</h3>
    		<div>
    			<div class="card">
    				<div class="item item-avatar">
    					<img class="profile" src="{{ user.image }}" />
    					<h2>{{user.name}}</h2>
    					<p>{{user.company}}</p>
    				</div>
    				<div class="item">
    					<h1>Tip Amount: {{ transaction.amount | currency }}</h1>
    				</div>
    			</div>
    		
    			<div class="list">
    				<label ng-repeat="tip in tips" class="item item-radio">
    					<input type="radio" name="paymentAmount" ng-click="setTipAmount(tip.type, tip.amount)"/>
    					<div ng-if="tip.type == 'flat'" class="item-content">{{ tip.text }} - {{ tip.amount | currency }}</div>
    					<div ng-if="tip.type == 'percentage'" class="item-content">
    						{{ tip.text }} - {{ tip.amount | percentage:2 }}
    					</div>
    					<i class="radio-icon ion-checkmark"></i>
    				</label>
    				<label class="item item-radio">
    					<input type="radio" name="paymentAmount" ng-click="getCustomAmount()" />
    					<div class="item-content">Custom Tip Amount...</div>
    					<i class="radio-icon ion-checkmark"></i>
    				</label>
    			</div>
    			
    			<button class="button button-full button-calm" ng-click="saveTransaction()">Save Transaction</button>
    			<button class="button button-full button-positive" ng-click="confirmTransaction()">Confirm Tip</button>
    			
    		</div>
  		</ion-slide>
  		<ion-slide class="content-slide">
    		<h3>Confirmation Screen</h3>
    		You have tipped {{ user.name }} from {{ user.company }} {{ transaction.amount | currency }}
	  	</ion-slide>
	</ion-slide-box>
</ion-view>