<ion-view>
	<ion-nav-buttons side="left">
		<button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-if="!slideIndex">
    		Settings
  		</button>
  		<button class="button button-positive button-clear no-animation" ng-click="previous()" ng-if="slideIndex > 0">
    		Previous
  		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right"> 
  		<button class="button button-positive button-clear no-animation" ng-click="next()" ng-if="slideIndex != 2">
    		Next
  		</button>
 	 	<!--<button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-if="slideIndex == 2">
    		Start using TipTapGo
  		</button>-->
	</ion-nav-buttons>

	<ion-slide-box on-slide-changed="slideChanged(index)">
  		<ion-slide>
    		<h3>Pin Number</h3>
    		<button class="button" ng-click="getPin()">Enter Your Pin</button>
  		</ion-slide>
  		<ion-slide>
    		<h3>Scan Barcode</h3>
    		<button class="button" ng-click="scanBarcode()">Scan A Barcode</button>
  		</ion-slide>
  		<ion-slide>
    		<h3>Confirm Tip</h3>
  		</ion-slide>
	</ion-slide-box>
</ion-view>