<ion-view hide-back-button="true" title="TipTapGo">
	<ion-content padding="true">
  		<h1>Settings</h1>
  		<button class="button" ng-click="toIntro()">Back to App</button>
	</ion-content>
</ion-view>