<ion-view hide-back-button="true" title="<img class='title-image' src='img/logo.png' />">
	<ion-nav-buttons side="left">
		<button class="button button-positive button-clear no-animation" ng-click="toApp()" ng-if="!slideIndex">
    		Close
  		</button>
	</ion-nav-buttons>
	<ion-content padding="true">
  		<h1>Settings</h1>
  		<div class="list list-inset" ng-if="!isLoggedIn()">
  			<form novalidate>
		  	<label class="item item-input">
		    	<i class="icon ion-person placeholder-icon"></i>
		    	<input type="text" ng-model="user.username" placeholder="Username">
		  	</label>
		  	<label class="item item-input">
		    	<i class="icon ion-locked placeholder-icon"></i>
		    	<input type="password" ng-model="user.password" placeholder="Password">
		  	</label>
		  	
		  	<button class="button button-full button-positive" ng-click="logIn(user)">Log in</button>
		  	<p class="center">Don't have an account? Register online with the link below.</p>
		  	<button class="button button-full button-calm" ng-click="openRegistrationLink()">Register Online</button>
		  	
		  	</form>
		</div>
		
		<div class="list list-inset" ng-if="isLoggedIn()">
			<button class="button button-full button-positive" ng-click="checkPin()">Change Pin</button>
			<button class="button button-full button-calm" ng-click="logOut()">Log Out</button>
		</div>

	</ion-content>
</ion-view>