/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
  font-family: "Ubuntu";
  font-weight: 400;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.content-slide {
	padding-left: 20px;
	padding-right: 20px;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

img.profile {
	height: 40px;
	width: 40px; 
	display: block;
}

.list .item-content {
	text-align: left;
}

.center {
	text-align: center;
}

.button-scanner {
	height: 30%;
	width: 60%;
}

.icon-grande {
	display: block;
	text-align: center;
	margin-top: 40px;
}

.icon.icon-grande:before {
	font-size: 110px;
	padding-bottom: 20px;
}